<!DOCTYPE html>
<html>
    <head>
        <title>CoLiving</title>
        <link rel="stylesheet" href="style.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

<body>

    <div class="navbar">
        <a href="chores.html">Chores</a>
        <a href="billsplit.html">Budget Tracker</a>
        <a href="welcome.html">Home</a>
        <a href="groceryList.html">Groceries</a>
    </div>

    <div class="budget-container">
        <h4>Roomate Dues</h4>
        <div class="row">
            <div class="column"><h5>Tara</h5>
                <span id="budget1" class="month-amount">&#36; 0</span> </div>
           <div class="column"> <h5>Claire</h5>
                <span id="budget2" class="month-amount">&#36; 0</span> </div>
             <div class="column"><h5>Kaitlyn</h5>
                <span id="budget3" class="month-amount">&#36; 0</span></div>
            <div class="column"><h5>Lauren</h5>
                    <span id="budget3" class="month-amount">&#36; 0</span></div>
    </div>
    </div>

    <div class="budget-inputcontainer">
        <div class="calccontainer">
            <h4>Track Your Budget</h4>
            <div class="dropdown open">
                <form>
                    <label> Who Paid?</label>  <br><br>
                        <select>  
                        <option class="dropdown-item" value= "Roomate1"> Tara </option>  
                        <option class="dropdown-item" value= "Roomate2"> Claire </option>  
                        <option class="dropdown-item" value= "Roomate3"> Kaitlyn</option> 
                        <option class="dropdown-item" value= "Roomate3"> Lauren</option> 
                        </select>  
                        </form>  
                </form>
                <br>
            </div>
        </div> <!--calc container-->
    </div> <!-- right container -->

    <div class="expenseinput">
        <input type="text" placeholder="Description">    
        <input type="number" placeholder="Value">
        <input type="date" placeholder="Date">
    </div>
</body>
</html>