<!DOCTYPE html>
<html>
    <head>
        <title>CoLiving</title>
        <link rel="stylesheet" href="style.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

<body>

    <div class="navbar">
        <a href="chores.html">Chores</a>
        <a href="billsplit.html">Split Bills</a>
        <a href="welcome.html">Home</a>
        <a href="groceryList.html">Groceries</a>
    </div>

    <div class="budget-container">
    <div class='whole budget-container'>
        <h4>Your Expenses</h4>
        <span id="month-budget" class="month-amount">&#36; 0</span>
        </div> <!-- whole budget container-->

    <div class="budget-inputcontainer">
        <div class="calccontainer">
            <h4>Track Your Budget</h4>
            <div class="dropdown open">
                <form>
                    <label> Who Paid? </label>  
                        <select>  
                        <option class="dropdown-item" value= "Roomate1"> Rooomate1</option>  
                        <option class="dropdown-item" value= "Roomate2"> Roomate2 </option>  
                        <option class="dropdown-item" value= "Roomate3"> Roomate3</option> 
                        </select>  
                        </form>  
                </form>
                <br>
            </div>
        </div> <!--calc container-->
    </div> <!-- right container -->

    <div class="expenseinput">
        <input type="text" placeholder="Description">    
        <input type="number" placeholder="Value">
        <input type="date" placeholder="Date">
    </div>
</body>
</html>