h1{
    text-align: center;
    font-size: 30px;
    align-content: center;
    padding-top: 20%;
}

.navbar{
    overflow: hidden;
    background-color: #91aeb8;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 6%;
}

.navbar a{
  display: block;
  float: left;
  color:#2a2d2e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;

}