<!DOCTYPE html>
<html>
    <head>
        <title>CoLiving</title>
        <link rel="stylesheet" href="style.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

<body>
<h1>Welcome to your personal co-living page!</h1>

    <div class="navbar">
        <a href="chores.html">Chores</a>
        <a href="billsplit.html">Split Bills</a>
        <a href="welcome.html">Home</a>
        <a href="groceryList.html">Groceries</a>

</div>
<p style= "color:darkslategrey"><br/>
    In your co-living page, you can accomplish all your day-to-day tasks.
    <br/><br/>
</p>
<h2><center>Sign in below to begin</center></h2>
<center><button style= "background-color:cadetblue; border-color:sienna; color:white">sign in</button></center>

</body>
</body>
</html>