<!DOCTYPE html>
<html>
    <head>
        <title>CoLiving</title>
        <link rel="stylesheet" href="style.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

<body>
<h1>Welcome to your personal co-living page!</h1>


        <a href="chores.html">Chores</a>
        <a href="billsplit.html">Split Bills</a>
        <a href="groceryList.html">Grocery List</a>
        <a href="welcome.html">Home</a>
        <p>here, you can see the groups you are apart of!
            <br/>also view the tabs above to see
             <ul>
                 <li>chores</li>
                 <li>bill split</li>
                 <li>grocery list</li>
                </ul>
        </p>
</body>
</html>